#container {
    height: 100%;
  
    #messages {
        height: 90%;
        overflow-y: scroll;

    }
    .own-message{
        float: right;
    }
   

    #controls{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 99;
    }
    
}